@import "~bootstrap/scss/bootstrap";
@import 'react-toastify/dist/ReactToastify.css';

// Variables
$primary: #123;
$text-color: #555;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

// Typogrphy
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: $primary;
    }
}

// Font Sizing

// Text Color
.text-color {
    color: $text-color;
}

// Z-index
.z-index-10 {
    z-index: 10;
}

// Width
.mx-350px {
    max-width: 350px;
}

// Height
.mh-100 {
    min-height: 100vh;
}

// Line 3
.text-line-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Image Styling
.ratio-1x1 {
    aspect-ratio: 1/1;
}

.img-fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.img-fit-contain {
    -o-object-fit: contain;
    object-fit: contain;
}

.img-position-center {
    -o-object-position: center;
    object-position: center;
}

body {
    font-family: "Outfit", "sans-serif";
}

// Navbar Styling